.jumbotron {
    color: #black;
    text-shadow: white 0.3em 0.3em 0.3em;
    height: 400px;
    background: transparent;
}

.bg {
    background: url(main.jpg) no-repeat center center;
    background-size: 100%;
    height: 400px;
    z-index: -1;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav a {
    color: white;
    text-shadow: none;
    background-color: rgba(0,0,0,0.5);
}

a:hover {
    color: black;
    background-color: rgba(255,255,255,0.5);
}

.main { 
    max-width: 700px; 
    padding-top: 20px;
}

.date {
    color: grey;
}

.date > a {
    color: blue;
}
